# pandas Data Structures:
We have learned about **Series**, lets learn DataFrames (2<sup>nd</sup> workhorse of pandas) to expand our concepts of Series.

* DataFrame
* Grab data (column wise)
* Grab data (raw wise)
* Grabbing an element or a sub-set of the dataframe
* Adding new column
* Deleting the column
* boolean_mask
* boolean_mask(Combine 2 conditions)
* reset_index(), set_index(), head(), tail(), info(), describe()

## DataFrame
* A very simple way to think about the DataFrame is, "bunch of Series together such as they share the same index". <br> 
* A DataFrams is a rectangular table of data that contains an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc). DataFrame has both a row and column index; it can be thought of as a dictionary of Series all sharing the same index. <br>

&#9758; *A good read for those, who are interested! ([Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do))<br>*

Let's learn **DataFrame with examples:**<br>

In [1]:
import pandas as pd
import numpy as np

In [2]:
array_2d = np.arange(0, 100).reshape(10,10)

In [3]:
array_2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

Let's create two labels/indexes:
* for rows 'r1 to r10'
* for columns 'c1 to c10'

Let's start with a simple example, using **`arange()`** and **`reshape()`** together to create a 2D array (matrix).<br>

In [4]:
index = 'r1 r2 r3 r4 r5 r6 r7 r8 r9 r10'.split()  #['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']
columns = 'c1 c2 c3 c4 c5 c6 c7 c8 c9 c10'.split()

&#9989; *Use **TAB** for auto-complete and **shift + TAB**  for doc.*

In [5]:
# How the index, columns and array_2d look like!
index

['r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8', 'r9', 'r10']

In [6]:
columns

['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

In [7]:
df = pd.DataFrame(data = array_2d, index=index, columns=columns)

In [9]:
df # select c1, c2 from df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

**df** is our first dataframe. <br>
We have columns, c1 to c10, and their corresponding rows, r1 to r10. <br>
Each column is actually a pandas series, sharing a common index (row labels). <br>

&#9758; Let's learn how to **Grab data** that we need, this is the most important thing we want to learn to move one!<br>

### Columns

In [19]:
df[['c1', 'c2']]

     c1  c2
r1    0   1
r2   10  11
r3   20  21
r4   30  31
r5   40  41
r6   50  51
r7   60  61
r8   70  71
r9   80  81
r10  90  91

In [20]:
df[['c1', 'c2', 'c5']] #select c1, c2 from df

     c1  c2  c5
r1    0   1   4
r2   10  11  14
r3   20  21  24
r4   30  31  34
r5   40  41  44
r6   50  51  54
r7   60  61  64
r8   70  71  74
r9   80  81  84
r10  90  91  94

In [21]:
type(df['c10'])

pandas.core.series.Series

In [22]:
# Grabbing more than one column, pass the list of columns you need! 
df[['c1', 'c10', 'c3']] #select c1, c10, c3 from df

     c1  c10  c3
r1    0    9   2
r2   10   19  12
r3   20   29  22
r4   30   39  32
r5   40   49  42
r6   50   59  52
r7   60   69  62
r8   70   79  72
r9   80   89  82
r10  90   99  92

**df.column_name (e.g. df.c1, df.c2 etc)** can be used to grab a column as well, its good to know but I don't recommend. <br> 
If you press "TAB" after df., you will see lots of available methods, its good not to get confused with these option by using df.column_name.<br>
**Let's try this once**

In [24]:
df.c5
#df[['c5']]

r1      4
r2     14
r3     24
r4     34
r5     44
r6     54
r7     64
r8     74
r9     84
r10    94
Name: c5, dtype: int32

### Adding new column
Lets try with "+" operation!

In [25]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10
r1    0   1   2   3   4   5   6   7   8    9
r2   10  11  12  13  14  15  16  17  18   19
r3   20  21  22  23  24  25  26  27  28   29
r4   30  31  32  33  34  35  36  37  38   39
r5   40  41  42  43  44  45  46  47  48   49
r6   50  51  52  53  54  55  56  57  58   59
r7   60  61  62  63  64  65  66  67  68   69
r8   70  71  72  73  74  75  76  77  78   79
r9   80  81  82  83  84  85  86  87  88   89
r10  90  91  92  93  94  95  96  97  98   99

In [26]:
df['new']= df['c1'] + df['c2']  # select *, (c1 + c2) as new from df

In [27]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10  new
r1    0   1   2   3   4   5   6   7   8    9    1
r2   10  11  12  13  14  15  16  17  18   19   21
r3   20  21  22  23  24  25  26  27  28   29   41
r4   30  31  32  33  34  35  36  37  38   39   61
r5   40  41  42  43  44  45  46  47  48   49   81
r6   50  51  52  53  54  55  56  57  58   59  101
r7   60  61  62  63  64  65  66  67  68   69  121
r8   70  71  72  73  74  75  76  77  78   79  141
r9   80  81  82  83  84  85  86  87  88   89  161
r10  90  91  92  93  94  95  96  97  98   99  181

In [28]:
df['new'] = 'A'
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new
r1    0   1   2   3   4   5   6   7   8    9   A
r2   10  11  12  13  14  15  16  17  18   19   A
r3   20  21  22  23  24  25  26  27  28   29   A
r4   30  31  32  33  34  35  36  37  38   39   A
r5   40  41  42  43  44  45  46  47  48   49   A
r6   50  51  52  53  54  55  56  57  58   59   A
r7   60  61  62  63  64  65  66  67  68   69   A
r8   70  71  72  73  74  75  76  77  78   79   A
r9   80  81  82  83  84  85  86  87  88   89   A
r10  90  91  92  93  94  95  96  97  98   99   A

In [29]:
df['new2'] = 'B'

In [30]:
df

     c1  c2  c3  c4  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   4   5   6   7   8    9   A    B
r2   10  11  12  13  14  15  16  17  18   19   A    B
r3   20  21  22  23  24  25  26  27  28   29   A    B
r4   30  31  32  33  34  35  36  37  38   39   A    B
r5   40  41  42  43  44  45  46  47  48   49   A    B
r6   50  51  52  53  54  55  56  57  58   59   A    B
r7   60  61  62  63  64  65  66  67  68   69   A    B
r8   70  71  72  73  74  75  76  77  78   79   A    B
r9   80  81  82  83  84  85  86  87  88   89   A    B
r10  90  91  92  93  94  95  96  97  98   99   A    B

In [31]:
new_col = 'D'

df.insert(loc = 4, column = 'C33', value = new_col)

df

     c1  c2  c3  c4 C33  c5  c6  c7  c8  c9  c10 new new2
r1    0   1   2   3   D   4   5   6   7   8    9   A    B
r2   10  11  12  13   D  14  15  16  17  18   19   A    B
r3   20  21  22  23   D  24  25  26  27  28   29   A    B
r4   30  31  32  33   D  34  35  36  37  38   39   A    B
r5   40  41  42  43   D  44  45  46  47  48   49   A    B
r6   50  51  52  53   D  54  55  56  57  58   59   A    B
r7   60  61  62  63   D  64  65  66  67  68   69   A    B
r8   70  71  72  73   D  74  75  76  77  78   79   A    B
r9   80  81  82  83   D  84  85  86  87  88   89   A    B
r10  90  91  92  93   D  94  95  96  97  98   99   A    B

### Deleting the column -- `drop()`

        *df.drop('new')-- ValueError: labels ['new'] not contained in axis

Shift+tab, you see the default axis is 0, which refers to the index (row labels), for column, we need to specify axis = 1.<br>
&#9758; rows refer to 0 axis and columns refers to 1 axis<br> 
&#9758; Quick Check: *df.shape gives tuple (rows, cols) at [0] and [1]*

In [ ]:
df.drop('r1', axis=0)

In [ ]:
df.drop('C33', axis=1)

In [ ]:
df

In [ ]:
df.drop('new', axis=1, inplace=True)

&#9758; Is the "new" really deleted? <br>
Output df and you will see "new" is still there!<br>

In [ ]:
df

To delete the column, you have to tell the pandas by setting<br>
* ***inplace = True*** (default is inplace=False).<br>

&#9989; *pandas is generous, it does not want us to lose the information by any mistake and needs inplace*

### Rows
We can retrieve a row by its name or position with **[`loc`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)** and **[`iloc`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)**.<br>
**loc** -- Access a group of rows and columns by label(s)

In [ ]:
df.loc[['r2','r3']]

Using row's index location with **iloc**, even if our index is labeled.

In [ ]:
df.loc[['r2']]

In [ ]:
df.iloc[[1]] # iloc[index], index based location

In [ ]:
# more than one rows -- pass a list of rows!
df.loc[['r1','r2', 'r3']]

### Grabbing an element or a sub-set of the dataframe

In [ ]:
df

In [ ]:
df.loc['r1','c1']

In [ ]:
df.loc[['r1','r2'],['c1','c2']]

In [ ]:
# another example - random columns and rows in the list 
df.loc[['r2','r5'],['c3','c4']]

In [ ]:
df

In [ ]:
# We can do a conditional selection as well
df > 5

In [ ]:
df

In [ ]:
bool_mask = df % 3 == 0
#bool_mask
df[bool_mask]

&#9758; Its not common to use such operation on entire dataframe. We usually use them on a columns or rows instead.<br>
**For example, we don't want a row with NaN values.**<br>
What to do?<br>
Let's have a look at one example.

In [ ]:
df  # Select * from df where c1 > 11

Let's apply a condition on column c1, say `c1 > 11`<br>
based on the conditional selection, the out put will be:

In [ ]:
df[df['c1'] > 11]

In [ ]:
#select c1, c2 from df where c1 > 11
df[df['c1'] > 11][['c1', 'c2']]

We don't want `r1` and `r2` as they return NaN or null values. <br>
Let's filter the rows based on condition on column values.

In [ ]:
df[df['c1']>11][['c3','c10']]

&#9758; The above, **"`df[df['c1']>11]`"** is a dataframe with applied condition, we can select any col from this dataframe.<br> For example:

In [ ]:
result = df[(df['c1']>11) & (df['c1']<80)]
result

We can do the above operations, (filtering and selecting a columns) in a single line (stack commonds).

In [ ]:
df[df['c1']>11][['c1', 'c10']]

In [ ]:
df[df['c1']>11] #Select c1, c9 from df where c1 > 11

In [ ]:
df[df['c1']>11].loc[['r3','r4']]

In [ ]:
result = df[df['c1']==70] # select * from df where c1 = 70
result

In [ ]:
df

In [ ]:
df[df['c1']==70]  #select * from df where Age == 70

### Combine 2 conditions 
Let's try on c1 for a value > 60 and on c2 for a value > 80

In [ ]:
df

In [ ]:
df[(df['c1']>60) & (df['c2']>80)]

In [ ]:
df[(df['c1']>60) | (df['c2']>80)]

&#9989;**NOTE:**<br>
"and" operator will not work in the above condition and using "and" will return <br>

        *ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

This "ambiguous" means, True, only work for a single booleans at a time "True and False". We need to use "&" instead. ("|" for or)<br>
Try the above code using "and" <br>
The "and" operator gets confused with series of True/False and raise Error

### Let's have a quick look on couple of useful methods.
***We will explore more later on in the course!***

**`reset_index()`** and **`set_index()`**<br>
We can reset the index of our dataframe to numerical index (which is default index), `inplace = True` to make the permanent change. *The existing index will be a new column.*

In [ ]:
df

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df

In [ ]:
df.set_index('c2', inplace = True)
df

In [ ]:
df

** consider, We have a column in our data that could be a useful index,<br>
we want to set that column as an index!**<br>

In [ ]:
array_2d

In [ ]:
columns

In [ ]:
df = pd.DataFrame(data = array_2d, index = index, columns = columns)
df

In [ ]:
abc = 'a b c d e f g h i j'.split() # split at white spaces
# let put newind as a col in the df
#df2 = df
df['newind']=abc
df
#df = pd.DataFrame(data=array_2d, index=index, columns=columns)

In [ ]:
# setting newind as an index, needs to be inplaced
df.set_index('newind', inplace = True)

In [ ]:
df

### `head()`, `tail()`

In [ ]:
# Returns first n rows
df.head() # n = 5 by default

In [ ]:
# Returns last n rows
df.tail(2) # n = 5 by default

### `info()`
Provides a concise summary of the DataFrame.

In [ ]:
df

In [ ]:
df.info()

### `describe()`
Generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding `NaN` values.

In [ ]:
df

In [ ]:
df.describe()

# Excellent! 
I want to congratulate here, you are making a great progress, keep it up!

In [ ]:
df2 = pd.read_csv('E:\Breast_Cancer_Diagnostic.csv')

In [ ]:
df2

## nrows

In [ ]:
df2 = pd.read_csv('E:\Breast_Cancer_Diagnostic.csv', nrows=100)
df2

In [ ]:
df2.info()

In [ ]:
df2.info(verbose=False)

In [ ]:
df2.describe(include = 'all')

In [ ]:
df2

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
df2

In [ ]:
df2.describe()